<div class="div_wait"></div>
<div class="cypress_tree_{{ name }} hide">
    <ul stylde="margin-bottom: 500px;">
        {% include "CypressTreeBundle::tree_branch.html.twig" with { 'rel': 'root','ref_before': ref_before } %}
    </ul>
</div>